# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Database & Uploads
*.sqlite3
*.db
backend/uploads/*
!backend/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Scratch & Logs
scratch/
*.log
